ALLOWED_HOSTS=*
DATABASE_ENGINE=SQLITE
DEBUG=true
DJANGO_SECRET_KEY=f4894ca8-07c8-4c57-ad50-5c9f186b873f
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
TRANSLATE_SAMPLES_ENABLED=true
# POSTGRES_DB=yodaspeak
# POSTGRES_HOST=postgres
# POSTGRES_PASSWORD=8a47ef67-d639-40c3-a0b0-beea01407e7d
# POSTGRES_PORT=5432
# POSTGRES_USER=yodaspeak
# CACHE_ENABLED=false
# REDIS_URL=redis://redis:6379/0

