django==6.0.5
gunicorn==26.0.0
whitenoise==6.12.0
psycopg==3.3.4
django-health-check==4.4.1
redis==7.4.0
setuptools==82.0.1
requests==2.34.2
django-ninja==1.6.2
openai==2.37.0
python-dotenv==1.2.2
psutil==7.2.2
