{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple application to translate english into Yoda's version which is mostly, back to front. Or in other words,object–subject–verb word order.">
    <meta name="author" content="Ryan Blunden">
      

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'yodaspeak/css/app.css' %}">

    <link rel="icon" type="image/png" href="{% static 'yodaspeak/img/icons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'yodaspeak/img/icons/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'yodaspeak/img/icons/favicon.ico' %}" />
  </head>

  <body>
    {% block content %}{% endblock %}
</html>
